html, body {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  background: url(assets/freedom.jpg) no-repeat center;
  background-size: cover;
  width: 100wv;
  height: 100wh;
  color: #333;
}

.quote-p {
  font-family: "Julius Sans One", sans-serif;
  font-size: 2.5rem;
}

.wrapper {
  padding-top: 4rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.author {
  
}